.minimal-tiptap-editor .ProseMirror .is-empty::before {
  pointer-events: none;
  float: left;
  height: 0;
  width: 100%;
  color: var(--mt-secondary);
}

.minimal-tiptap-editor .ProseMirror > p.is-editor-empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
  float: left;
  height: 0;
  color: var(--mt-secondary);
}