---
import RenderIndividualBlog from '../../components/blogs/RenderIndividualBlog';
import BlogLayout from '../../layouts/BlogLayout.astro';
import clientPromise from '../../lib/mongodb.js';

export const prerender = false;

async function getBlogPost(slug: string) {
  const client = await clientPromise;
  const db = client.db("blogDatabase");
  const collection = db.collection("posts");
  return await collection.findOne({ title_id: slug });
}

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect('/404');
}

const blog = await getBlogPost(slug);

if (!blog) {
  return Astro.redirect('/404');
}

const serializedBlog = JSON.parse(JSON.stringify(blog));

const seoTitle = blog.seoTitle || blog.title;
const seoDescription = blog.seoDescription || blog.excerpt;
---

<BlogLayout title={seoTitle} description={seoDescription}>
  <div class="min-h-screen bg-[#1a3e5c] w-full text-neutral-800 font-sans">
    <RenderIndividualBlog blogData={serializedBlog} client:load />
  </div>
</BlogLayout>