@import "tailwindcss";


@keyframes float {
  0% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(100px, 100px) rotate(180deg); }
  100% { transform: translate(0, 0) rotate(360deg); }
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}