---
const { blogData } = Astro.props;
---

<div class="min-h-screen bg-neutral-200 py-8">
  <div class="max-w-4xl mx-auto bg-neutral-99 rounded-[64px] shadow-lg">
    <div class="p-8">
      <h1 class="text-h5 lg:text-h4 font-[600] text-neutral-800 mb-8 text-center">
        Edit Blog Post
      </h1>
      
      <div id="edit-blog-form"></div>
    </div>
  </div>
</div>

<script define:vars={{ blogData }}>
  // Store blog data globally for the React component
  window.editBlogData = blogData;
</script>

<script>
  import('../../scripts/edit-blog');
</script>