---
import Layout from '../layouts/Layout.astro';
---
<Layout 
    title="FuKazee - Work Smarter with AI" 
    description="Finish research, boost productivity, and reclaim your time — whether you're in school or building your career.">

    <header class="section-home-header">
        <div class="padding-global">
            <div class="container-large">
                <div id="w-node-_226a8d8f-f1ef-720c-7df8-dc760428dd2d-527877c0" class="header-content-block">
                    <h1 class="header-title">Work Smarter with AI</h1>
                    <div class="max-width-medium align-center">
                        <p class="text-size-regular text-align-center">Finish research, boost productivity, and reclaim your time — whether you're in school or building your career.</p>
                    </div>
                    <div class="spacer-small"></div>
                    <a data-w-id="610a61bf-b8a4-e1e7-1c2e-d66c014caf3a" href="/#get-started" class="main-button w-inline-block">
                        <div class="button-container">
                            <div class="button-text">Get started</div><img alt="Arrow – Consulthink Webflow Template" src="/images/66d1c127c0a0f7fa9668fc0c_arrow-right.svg" class="arrow" />
                            <div class="bg-button"></div>
                        </div>
                    </a>
                </div>
                <div class="w-layout-grid _3d-grid">
                    <div id="w-node-_2f880670-f78d-8ed6-0388-ece1707470ac-527877c0" class="_3d-wrapper">
                        <div class="_3d-container">
                            <div class="_3d-block">
                                <div class="_3d-image-item _9"><img sizes="(max-width: 479px) 22vw, (max-width: 767px) 113.92877197265625px, (max-width: 991px) 24vw, (max-width: 1279px) 23vw, (max-width: 1439px) 21vw, (max-width: 1919px) 295.915283203125px, 15vw" srcset="/images/homepage/home10.avif 500w, /images/homepage/home10.avif 800w, /images/homepage/home10.avif 1080w, /images/homepage/home10.avif 1280w"
                                        alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home10.avif" loading="lazy" class="cover-image" /></div>
                                <div
                                    class="_3d-image-item _8"><img sizes="(max-width: 479px) 5.2699737548828125px, (max-width: 767px) 4vw, (max-width: 991px) 1vw, (max-width: 1279px) 2vw, (max-width: 1439px) 21.538604736328125px, (max-width: 1919px) 2vw, 1vw" srcset="/images/homepage/home9.avif 500w, /images/homepage/home9.avif 800w, /images/homepage/home9.avif 1080w, /images/homepage/home9.avif 1600w, /images/homepage/home9.avif 1920w"
                                        alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home9.avif" loading="lazy" class="cover-image" /></div>
                            <div
                                class="_3d-image-item _7"><img sizes="(max-width: 479px) 17vw, (max-width: 767px) 87.60456848144531px, (max-width: 1279px) 17vw, (max-width: 1439px) 197.1127471923828px, (max-width: 1919px) 15vw, 11vw" srcset="/images/homepage/home1.avif 500w, /images/homepage/home1.avif 800w, /images/homepage/home1.avif 1080w, /images/homepage/home1.avif 1600w, /images/homepage/home1.avif 1920w"
                                    alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home1.avif" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _6"><img sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 991px) 25vw, (max-width: 1279px) 225.80014038085938px, (max-width: 1439px) 21vw, (max-width: 1919px) 20vw, 289.77685546875px" srcset="/images/homepage/home3.avif 500w, /images/homepage/home3.avif 800w, /images/66db/images/homepage/home3.avif 1080w, /images/homepage/home3.avif 1280w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home3.avif" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _5"><img sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 991px) 25vw, (max-width: 1279px) 23vw, (max-width: 1439px) 21vw, (max-width: 1919px) 291.1241455078125px, 15vw" srcset="/images/homepage/home4.jpg 500w, /images/homepage/home4.jpg 800w, /images/homepage/home4.jpg 1080w, /images/homepage/home4.jpg 1600w, /images/homepage/home4.jpg 1920w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home4.jpg" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _4"><img sizes="(max-width: 479px) 17vw, (max-width: 767px) 18vw, (max-width: 1279px) 17vw, (max-width: 1439px) 16vw, 220.92236328125px" srcset="/images/homepage/home5.avif 500w, /images/homepage/home5.avif 800w, /images/homepage/home5.avif 1080w, /images/homepage/home5.avif 1280w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home5.avif" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _3"><img sizes="(max-width: 479px) 2vw, (max-width: 767px) 20.470458984375px, (max-width: 991px) 1vw, 2vw" srcset="/images/homepage/home6.avif 500w, /images/homepage/home6.avif 800w, /images/homepage/home6.avif 1080w, /images/homepage/home6.avif 1280w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home6.avif" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _2"><img sizes="(max-width: 479px) 53.82080078125px, (max-width: 767px) 113.92877197265625px, (max-width: 991px) 182.13818359375px, (max-width: 1279px) 23vw, (max-width: 1439px) 21vw, (max-width: 1919px) 290.1859130859375px, 15vw"
                                srcset="/images/homepage/img2.avif 500w, /images/homepage/img2.avif  800w, /images/homepage/img2.avif  1080w, //images/homepage/img2.avif  1600w, /images/homepage/img2.avif  1920w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home8.avif" loading="lazy" class="cover-image" /></div>
                        <div class="_3d-image-item _1"><img sizes="(max-width: 479px) 88.81578063964844px, (max-width: 767px) 205.71426391601562px, (max-width: 991px) 37vw, (max-width: 1279px) 38vw, (max-width: 1439px) 442.105224609375px, (max-width: 1919px) 34vw, 25vw" srcset="/images/homepage/home7.avif 500w, /images/homepage/home7.avif 800w, /images/homepage/home7.avif 1080w, /images/homepage/home7.avif 1280w"
                                alt="Template Image – Consulthink Webflow Template" src="/images/homepage/home7.avif" loading="lazy" class="cover-image" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section-home-about">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="w-layout-grid top-content-grid">
                        <div class="max-width-medium">
                            <h2 class="heading-style-h2">Feeling Overwhelmed? You're Not Alone.</h2>
                        </div>
                        <div id="w-node-_6b2add44-a252-efe8-34d1-596665ed4b4c-527877c0" class="max-width-small">
                            <p class="heading-style-h6">Whether you're a postgrad juggling research, an undergrad preparing for the job market, or a professional trying to stay productive — the pressure is real.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-w-id="aafac6f9-cde8-300f-aeef-934996ab9e5d" class="section-home-service">
        
        <p class="heading-style-h6" style="text-align: center; padding-top: 20px;">You know AI can help, but:</p>
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="spiral-container">
                        <div class="spiral-sticky">
                            <div class="spiral-wrapper">
                                <div class="spiral-item">
                                    <div class="spiral-block first">
                                        <div class="spiral-box">
                                            <div class="spiral-content-block">
                                                <div class="card-content-block">
                                                    <div class="dot"></div>
                                                    <div class="service-title">🧩 Too Many Tools</div>
                                                    <p class="card-description">"Which of these AI platforms actually help me get work done?"</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="spiral-block">
                                            <div class="spiral-box _01">
                                                <div class="spiral-content-block">
                                                    <div class="card-content-block">
                                                        <div class="dot"></div>
                                                        <div class="service-title">📉 Vague Results</div>
                                                        <p class="card-description">"Why is ChatGPT giving me weird or unhelpful answers?"</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spiral-block">
                                                <div class="spiral-box _02">
                                                    <div class="spiral-content-block">
                                                        <div class="card-content-block">
                                                            <div class="dot"></div>
                                                            <div class="service-title">⚖️ Ethical Doubts</div>
                                                            <p class="card-description">"Can I trust AI without compromising my values or credibility?"</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="fc0d4b80-85af-9509-c5f8-972de9bbb498" class="spiral-trigger"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-home-case-study">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="w-layout-grid top-content-grid">
                        <div class="max-width-medium">
                            <h2 class="heading-style-h2">This is FuKazee. Ahead Kikazi.</h2>
                        </div>
                        <div id="w-node-b67c2eb1-ae6d-6e53-4a54-19dc4f6e7a33-527877c0" class="max-width-small">
                            <p class="heading-style-h6">FuKazee helps students and professionals across East Africa use AI tools the smart way — with real-world strategies and practical training.
No jargon. No shortcuts. Just the guidance you need to work faster and think clearer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-home-testimonial">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="w-layout-grid depoiments-component-grid">
                        <div class="depoiments-title-block">
                            <div class="max-width-medium">
                                <h2 class="heading-style-h2" id="get-started">Find the Right Support for Where You Are</h2>
                            </div>
                            <div class="spacer-small"></div>
                        </div>
                        <div class="despoiments-container">
                            <div class="testimonial-content-wrapper">
                                <div class="w-layout-grid testimonial-inner-grid" style="align-items: stretch;">
                                    <div class="testimonial-text-wrap" style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div>
                                             <h3 class="heading-style-h3" style="margin-bottom: 0.5rem;">AI-Powered Researcher Cohort</h3>
                                            <p class="testimonial-text">Join a 2-week intensive cohort to master research workflows with AI.</p>
                                            <div class="text-size-regular" style="margin-top: 1rem; font-weight: bold;">KES 10,000</div>
                                        </div>
                                        <a href="#" class="main-button w-inline-block" style="margin-top: 20px;">
                                            <div class="button-container is-secondary">
                                                <div class="text-button">Learn About the Cohort</div><img alt="" src="/images/66d1c127c0a0f7fa9668fc0c_arrow-right.svg" class="arrow is-secondary" />
                                                <div class="bg-button is-secondary"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-content-wrapper">
                                <div class="w-layout-grid testimonial-inner-grid" style="align-items: stretch;">
                                    <div class="testimonial-text-wrap" style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div>
                                             <h3 class="heading-style-h3" style="margin-bottom: 0.5rem;">The Transformation Bundle</h3>
                                            <p class="testimonial-text">Four personalized sessions tailored to your specific academic or professional needs.</p>
                                            <div class="text-size-regular" style="margin-top: 1rem; font-weight: bold;">KES 9,000</div>
                                        </div>
                                        <a href="#" class="main-button w-inline-block" style="margin-top: 20px;">
                                            <div class="button-container is-secondary">
                                                <div class="text-button">Book the Bundle</div><img alt="" src="/images/66d1c127c0a0f7fa9668fc0c_arrow-right.svg" class="arrow is-secondary" />
                                                <div class="bg-button is-secondary"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-content-wrapper">
                                <div class="w-layout-grid testimonial-inner-grid" style="align-items: stretch;">
                                    <div class="testimonial-text-wrap" style="display: flex; flex-direction: column; justify-content: space-between;">
                                        <div>
                                             <h3 class="heading-style-h3" style="margin-bottom: 0.5rem;">Problem-Solver Session</h3>
                                            <p class="testimonial-text">Need quick clarity? This 60-minute session helps you tackle any specific challenge with the right tools.</p>
                                            <div class="text-size-regular" style="margin-top: 1rem; font-weight: bold;">KES 3,000/hr</div>
                                        </div>
                                        <a href="#" class="main-button w-inline-block" style="margin-top: 20px;">
                                            <div class="button-container is-secondary">
                                                <div class="text-button">Book a Session</div><img alt="" src="/images/66d1c127c0a0f7fa9668fc0c_arrow-right.svg" class="arrow is-secondary" />
                                                <div class="bg-button is-secondary"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action">
        <div data-w-id="b6392514-c957-3859-1903-a7b1b7f66af2" class="cta-container">
            <div class="cta-sticky">
                <div class="cta-image-wrap">
                    <div class="w-layout-grid cta-image-grid"><img src="/images/homepage/home10.avif" loading="lazy" id="w-node-b6392514-c957-3859-1903-a7b1b7f66af6-b7f66af1" sizes="(max-width: 479px) 25vw, (max-width: 991px) 20vw, 320px"
                            alt="Template Image – Consulthink Webflow Template" srcset="/images/homepage/home10.avif 500w, /images/homepage/home10.avif 800w, /images/homepage/home10.avif 1080w, /images/homepage/home10.avif 1280w"
                            class="cta-image-01" /><img src="/images/aboutus/img1.avif" loading="lazy" id="w-node-b6392514-c957-3859-1903-a7b1b7f66af7-b7f66af1" sizes="(max-width: 479px) 25vw, (max-width: 991px) 20vw, 320px"
                            alt="Template Image – Consulthink Webflow Template" srcset="/images/aboutus/img1.avif 500w, /images/aboutus/img1.avif 800w, /images/aboutus/img1.avif 1080w, /images/aboutus/img1.avif 1600w, /images/aboutus/img1.avif 1920w"
                            class="cta-image-02" /><img src="/images/66dbc6034a2c1e5e020925e4_template-img-20.webp" loading="lazy" id="w-node-b6392514-c957-3859-1903-a7b1b7f66af8-b7f66af1" sizes="(max-width: 479px) 25vw, (max-width: 991px) 20vw, 320px"
                            alt="Template Image – Consulthink Webflow Template" srcset="/images/aboutus/img2.avif 500w, /images/aboutus/img2.avif 800w, /images/aboutus/img2.avif 1080w, /images/aboutus/img2.avif 1600w, /images/aboutus/img2.avif 1920w"
                            class="cta-image-03" /><img src="/images/aboutus/img3.jpg" loading="lazy" id="w-node-b6392514-c957-3859-1903-a7b1b7f66af9-b7f66af1" sizes="(max-width: 479px) 25vw, (max-width: 991px) 20vw, 320px"
                            alt="Template Image – Consulthink Webflow Template" srcset="/images/aboutus/img3.jpg 500w, /images/aboutus/img3.jpg 800w, /images/aboutus/img3.jpg 1080w, /images/aboutus/img3.jpg 1600w, /images/aboutus/img3.jpg 1920w"
                            class="cta-image-04" /></div>
                </div>
                <div class="cta-content-block">
                    <div class="cta-content">
                        <h2 class="heading-style-h2 cta-heading">Don’t Get Left Behind. Get Smarter Every Week.</h2>
                        <p class="text-size-regular white-text-center" style="margin-top: 1rem;">Sign up to receive one powerful, practical idea every week — covering AI, productivity, and personal growth.</p>
                        <div class="spacer-small"></div>
                    </div>
                </div>
                <div class="cta-button-wrap">
                    <div class="newsletter-form-wrapper" style="display: flex; gap: 1rem; align-items: center; justify-content: center; flex-wrap: wrap;">
                      <form style="display: flex; gap: 1rem; align-items: center; justify-content: center; flex-wrap: wrap;">
                        <input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email address" id="email" required="" style="max-width: 350px; height: 58px; background-color: white; border-radius: 8px; color: #000; padding: 8px 12px; border: 1px solid #ccc;">
                        <a data-w-id="b6392514-c957-3859-1903-a7b1b7f66b02" href="#" class="main-button w-inline-block">
                            <div class="button-container is-secondary">
                                <div class="text-button">Subscribe</div><img alt="Arrow – Consulthink Webflow Template" src="/images/66d1c127c0a0f7fa9668fc0c_arrow-right.svg" class="arrow" />
                                <div class="bg-button is-secondary"></div>
                            </div>
                        </a>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</Layout>