<footer class="footer">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-footer">
        <div class="footer-top-content">
          <a
            href="/"
            aria-current="page"
            class="brand-link w-inline-block w--current"
          >
            <img
              src="/images/homepage/logo.png"
              loading="lazy"
              alt="Logo – Consulthink Webflow Template"
              class="logo"
            />
          </a>
        </div>
        <div class="spacer-xlarge"></div>
        <div class="w-layout-grid footer-main-grid">
          <div
            id="w-node-_8febb756-1fe8-41de-d3c5-f3b88c4e1da7-4cbbba3e"
            class="footer-grid-block"
          >
            <div class="footer-flex-item">
              <a
                href="/"
                data-w-id="8febb756-1fe8-41de-d3c5-f3b88c4e1da9"
                aria-current="page"
                class="link-button w-inline-block w--current"
              >
                <div class="link-wrap">
                  <div class="link-text">Home</div>
                  <div class="link-text is-hover">Home</div>
                </div>
              </a>
              <a
                href="/blogs"
                data-w-id="3cdf7d93-ced3-174d-9c54-b9d35bc0fecf"
                class="link-button w-inline-block"
              >
                <div class="link-wrap">
                  <div class="link-text">Blog</div>
                  <div class="link-text is-hover">Blog</div>
                </div>
              </a>
            </div>
          </div>
          <div
            id="w-node-e6bbbc80-ae11-b3c6-a0f3-dee34cbbba90-4cbbba3e"
            class="back-to-top-item"
          >
            <a
              href="#top"
              data-w-id="e6bbbc80-ae11-b3c6-a0f3-dee34cbbba91"
              class="back-to-top-link w-inline-block"
            >
              <div class="back-to-top-arrow w-embed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    d="M13.0001 7.82843V20H11.0001V7.82843L5.63614 13.1924L4.22192 11.7782L12.0001 4L19.7783 11.7782L18.3641 13.1924L13.0001 7.82843Z"
                  ></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
