<div id="top" data-animation="default" data-collapse="medium" data-duration="0" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="padding-global">
        <div class="container-large">
            <div class="w-layout-grid nav-component-grid">
                <a id="w-node-_5c302780-7d31-b41f-fad1-cd508a688de4-8a688de0" data-w-id="5c302780-7d31-b41f-fad1-cd508a688de4" href="/" aria-current="page" class="brand-link w-inline-block w--current">
                    <img src="/images/homepage/logo.png" loading="lazy" alt="Logo – Consulthink Webflow Template" class="logo"/>
                </a>
                <div id="w-node-_5c302780-7d31-b41f-fad1-cd508a688de9-8a688de0" data-w-id="5c302780-7d31-b41f-fad1-cd508a688de9" class="menu-button w-nav-button">
                    <div class="menu-button-wrap">
                        <div class="menu-line-item">
                            <div class="menu-line top"></div>
                        </div>
                        <div class="menu-line-item">
                            <div class="menu-line middle"></div>
                        </div>
                        <div class="menu-line-item">
                            <div class="menu-line bottom"></div>
                        </div>
                    </div>
                </div>
                <nav role="navigation" id="w-node-_5c302780-7d31-b41f-fad1-cd508a688deb-8a688de0" class="nav-menu w-nav-menu">
                    <div class="nav-menu-container">
                        <a data-w-id="5c302780-7d31-b41f-fad1-cd508a688dec" href="/" aria-current="page" class="nav-link w-inline-block w--current">
                            <div class="nav-text">Home</div>
                            <div class="nav-text is-hover">Home</div>
                        </a>
                        <a data-w-id="e5e115b4-15d6-ebca-0ca6-8f8c75369c09" href="/blogs" class="nav-link w-inline-block">
                            <div class="nav-text">Blog</div>
                            <div class="nav-text is-hover">Blog</div>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>